@font-family: 'Covered By Your Grace', cursive;


body {
  background-color: #fff;
  
}
/**
|--------------------------------------------------
| NavBar
|--------------------------------------------------
*/

.navbar-trans, .banner-divider{
  transition-duration: 1s;
  transition-property: all;
  background-color: transparent;
  border-bottom: 1px solid rgba(255,255,255,.2);
}
.navbar-trans::after{
  transition-duration: 3s;
}

.navbar-bk {
  transition-duration: 1s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.7,1,.7,1);
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgba(170, 170, 170, 0.2);
}
.nav-link{
  color: #fff;
  padding: 20px;
}
.nav-item{
  color: #fff;
  font-size: 17px;
}
a{
  color: #fff;
}
/**
|--------------------------------------------------
| Banner "header"
|--------------------------------------------------
*/

.banner-block {
  background-image: url(/src/img/01.jpg);
  background-size: cover;
  background-position: center;
  padding: 220px 0 130px;
}
.banner-block .banner-title{
  font-size: 70px;
  color: #fff;
  line-height: 1;
}
.banner-block .banner-text{
  font-size: 25px;
  color: #fff;
}
.banner-block .banner-divider{
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding-bottom: 20px;
  margin-bottom: 35px;
}

.social-icons {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  vertical-align: middle;
  padding: 9px;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.social-icons:hover {
  color: #515769;
  background: #fff;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}
.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}


/**
|--------------------------------------------------
| Footer
|--------------------------------------------------
*/
.btn{
  margin-top: 10px;
}
.footer-sec{
  background-color: rgba(226, 226, 226, 0.4);
  color: rgb(0, 0, 0);
  padding: 2% 0;
}

.form-label{
  font-size: 20px;
}
span{
  color: rgb(95, 41, 55);
}

/**
|--------------------------------------------------
| universal sections
|--------------------------------------------------
*/

.form-label, .banner-text, .nav-item{
  font-family: 'Covered By Your Grace', cursive;
}
#About, #Design {
  padding:100px 15px;
}
.sec-text{
  text-align: end;
}
.right-col{
  margin-left: 8%;
}
p{
  color: #a6a7aa;
}

#Design {
  background-color: #fafafa!important;
}