body {
  
}

.navbar-trans, .banner-divider{
  transition-duration: 1s;
  transition-property: all;
  background-color: transparent;
  border-bottom: 1px solid rgba(255,255,255,.2);
}
.navbar-trans::after{
  transition-duration: 3s;
}

.navbar-bk {
  transition-duration: 1s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.7,1,.7,1);
  background-color: rgb(255, 255, 255);
}
.banner-divider{
  /* color: rgb(255, 255, 255); */
  border-bottom: 1px solid rgb(255, 255, 255);
}

.banner-block {
  background-image: url(/src/img/01.jpg);
  /* background-repeat: no-repeat; */
  /* background-size: inherit; */
  background-size: cover;
  background-position: center;
  padding: 220px 0 130px;
}
.banner-block .banner-title{
  font-size: 70px;
  color: #fff;
  line-height: 1;
}
.banner-block .banner-text{
  font-size: 25px;
  color: #fff;
}
.banner-block .banner-divider{
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding-bottom: 20px;
  margin-bottom: 35px;
}