@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Hind:wght@300;400;500;600;700&display=swap');

$primary-white: #fff;
$primary-grey: #515769;
$primary-red: rgb(95, 41, 55);

/**
|--------------------------------------------------
| universal sections
|--------------------------------------------------
*/


a{
  color: none !important;
  text-decoration: none !important;
}
body, .exp-bg {
  background-color: $primary-white!important;
  
}
#Experience{
  background-color: #fafafa!important;
}
.form-label, .banner-text{
  font-family: 'Covered By Your Grace', cursive;
}
#About, #Design, #Shop, #Experience {
  padding:100px 15px;
}
.banner-block .contact-header{
  background-size: cover;
  background-position: center;
  padding: 220px 0 130px;
}
.right-col{
  margin-left: 8%;
}
.sec-text{
  text-align: right;
}
p{
  font-size: 15px;
  color: $primary-grey;
}

h1, h2, h3, h4, h5, h6, .nav-link {
  font-family: 'Hind', sans-serif;
  font-weight: 700 !important;
}
h1{
  font-size: 70px;
}


h2, h6{
  color: $primary-grey;
  line-height: 1.4;
  margin: 0 0 15px;
}
h6{
  font-size: 14px;
}

h6{
  
  font-size: 14px;
}
.row > *{
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.col{
  img{
    width: 100%;
  }
}

li {
  list-style: none;
}




/**
|--------------------------------------------------
| NavBar
|--------------------------------------------------
*/

.navbar-trans, .banner-divider{
  
  transition-duration: 1s;
  transition-property: all;
  background-color: transparent;
  border-bottom: 1px solid rgba(255,255,255,.2);
  .nav-link{
    color: $primary-white !important;
  }
}

.nav-link:hover{
  text-decoration: underline !important;
}
.navbar-trans::after{
  transition-duration: 3s;
}

.navbar-bk {
  transition-duration: 1s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.7,1,.7,1);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.13);
  border-bottom: 1px solid rgba(170, 170, 170, 0.2);
}
.nav-link{
  font-size: 13px;
  padding: 20px !important;
  font-weight: 600 !important;
}


/**
|--------------------------------------------------
| Banner "header"
|--------------------------------------------------
*/

.banner-block{
  background-image: url(/img/01.jpg);
}

.banner-block, .design-block, .about-block {
  background-size: cover;
  background-position: center;
  padding: 220px 0 130px !important;
}
.design-block, .banner-block, .banner-title, .about-block{
  font-size: 70px;
  color: $primary-white;
  line-height: 1;
}
.banner-text{
  font-size: 25px;
  color: $primary-white;
}
.banner-block .banner-divider, .about-block{
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding-bottom: 20px;
  margin-bottom: 35px;
}

.social-icons {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 16px;
  color: $primary-white;
  text-align: center;
  border-radius: 50%;
  vertical-align: middle;
  padding: 10.5px;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.social-icons:hover {
  color: $primary-grey;
  background: $primary-white;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}
.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

/**
|--------------------------------------------------
| Banner "header"
|--------------------------------------------------
*/
.about-block {
  background-image: url(/img/about-bg2.jpg);
}




/**
|--------------------------------------------------
| Contact
|--------------------------------------------------
*/
.btn{
  margin-top: 10px;
}
.contact-header{
  background-image: url(/img/01.jpg);
  background-size: cover;
  background-position: center;
  padding: 120px 0;
}
.chat-sec{
  backdrop-filter: blur(4px) saturate(160%);
  -webkit-backdrop-filter: blur(4px) saturate(160%);
  background-color: rgba(0, 0, 0, 0.43);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  color: $primary-white;
  padding: 2.5%;
}
.form-label{
  font-size: 20px;
}
span{
  color: $primary-red;
}

/**
|--------------------------------------------------
| Experience section
|--------------------------------------------------
*/

.sec-text-align{
  text-align: center;
}

.exp-bg{
  border-radius: 5px;
}

.exp-info{
  padding: 30px !important;
}


/**
|--------------------------------------------------
| Design
|--------------------------------------------------
*/
.design-block{
  background-image: url(/img/design-BG.jpg);
}

.design .design-overlay {
  position: relative;
}
.design .design-overlay{
  position: relative;
  cursor: pointer;
}
.design .design-overlay::before {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  content: " ";
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.work::hover .design-overlay::before{
  background: rgba(0, 0, 0, 0.5);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

/**
|--------------------------------------------------
| Footer
|--------------------------------------------------
*/

.footer-sec{
  background-color: rgba(226, 226, 226, 0.4);
  color: rgb(0, 0, 0);
  padding: 2% 0;
}

.footer-text{
  font-size: 14px;
  padding-left: 11px;
}






@media (max-width: 768px) {

  .banner-divider{
    padding: 0 15px !important;
  }

  .sm-margin, .exp-bg{
    margin: 0 0 !important;
  }
  
  .sm-sec-text {
    text-align: left;
  }
  .navbar-nav{
    text-align: right;
  }

  .chat-sec{
    padding: 6% !important;
  }
  .right-col{
    margin-left: 0%;
  }
}
 